{
  "pool": {
    "ringTimeout": 8,
    "maxCallDuration": 600,
    "name": "Smith Street",
    "number": "+44xxxxxxxxxx",
    "voice": "Poly.Brian",
    "messages": {
      "intro": "Hello. You have reached {NAME} community line. We will try to connect you to {PERSON} on {STREET}}",
      "next": "We are now trying to connect you to {PERSON} on {STREET}"
    },
    "people": [
      {
        "name": "Jon",
        "number": "+44xxxxxxxxxx",
        "address": "The Lane"
      },
      {
        "name": "Jon",
        "number": "+44xxxxxxxxxx",
        "address": "The Road"
      }
    ]
  }
}
